<!-- views/index.ejs**THE LANDING PAGE** -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Dog App Name Change Later"</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>Welcome to the Dog park app!</h1>
    <p>An app for setting up play dates for dogs</p>
  </body>
  <br/>
  <a href="/dogs">See who's at the park!</a>
</html>
